iframe{
  width:100%;
  padding:0;
  border:0;
  height:500px;
}
.err{
  color:#ff0000;
}
.success{
  color:#00ff00;
}
.purple{
  background-color: #673AB7 !important;
  color:#ffffff
}
.red{
  color:#ff0000
}
#pageheader{
background-color: #673AB7;
width:100%;
max-width:100% !important;
text-align:center;
padding-top:1em;
padding-bottom:1em;
border-bottom:thick solid black;
}
.navbar{
  border-bottom:thin solid black;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
.card{
  width:90%;
  max-width:800px;
  float: none;
  margin:auto;
  margin-bottom:1cm;
}
.card header img {
  max-width:100%;
  max-height:100%;
  margin-bottom: 1em;
}
.card hr {
  height:1px;
  background-color:#000000;
}
#pageheader:before {
    position:absolute; left:-1px; top:-1px; content:'';
    border-top: 70px solid silver;
    border-right: 70px solid transparent;
}

#pageheader:after {
    position:absolute; left:-2px; top:-2px; content:'';
    border-top: 70px solid white;
    border-right: 70px solid transparent;
}

#back_to_blog{
display:none;
}
#pageheader h2 a {
color:#ffffff !important;
font-family: "Georgia", Sans-serif;
}
#pageheader h3{
font-family: "Garamond", serif;
color:#E0E0E0;
}



